<nav>
    <ul>
        <li><NavLink href="/home" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/register">Register</NavLink></li>
        <li><NavLink href="/">Login</NavLink></li>
    </ul>
</nav>