<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeContext">
        <RouteView RouteData="@routeContext" />
    </Found>
    <NotFound>
        <p>Sorry, there's nothing here.</p>
    </NotFound>
</Router>