<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeContext">
        <RouteView RouteData="@routeContext" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing here.</p>
        </LayoutView>
    </NotFound>
</Router>